<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="vue.js"></script>
</head>
<body>
<!-- 首先将要过渡的元素用transition包裹，并设置过渡的name，然后添加触发这个元素过渡的按钮（实际项目中不一定是按钮，任何能触发过渡组件的DOM操作的操作都可以） -->
<div>
  <button @click="show=!show">show</button>
  <transition name="fade">
    <p v-show="show">hello</p>
  </transition>
</div>
<style lang="stylus" rel="stylesheet/stylus">
  &.fade-enter-active,&.fade-leave-activetransition: all 0.5s ease
  &.fade-enter, &.fade-leave-active
                                                            opacity: 0
</style>
</body>
</html>
